<ion-header>
  <ion-navbar>
    <button ion-button menuToggle color="perfect-brown">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-center text-uppercase>
      Спортивные товары
    </ion-title>
    <ion-buttons end>
      <button ion-button float-right (click)="openFilter()" small icon-only clear>
        <ion-icon name="funnel"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding text-wrap>
  <ion-item *ngIf="dataError" padding color="danger">
    <p>{{dataError}}</p>
  </ion-item>

  <p *ngIf="!dataError" text-right class="help-info">Нажмите на товар, чтобы посмотреть/зарезервировать</p>

  <item-card *ngFor="let item of items" [itemCardData]="item" (click)="goItemDetail(item)"></item-card>
</ion-content>
