<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Забронированные товары</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item *ngIf="!areBookedItemsInStorage" color="danger">
    <div>{{noBookedItemsInfo}}</div>
  </ion-item>
  <ion-card *ngFor="let bookedItem of bookedItems">

    <ion-item>
      <ion-avatar item-start>
        <img [src]="getItemKeyValue(bookedItem.id, 'imgUrl')" alt="item photo">
      </ion-avatar>

      <ion-card-header text-wrap>
        {{getItemKeyValue(bookedItem.id, 'title')}}
      </ion-card-header>
    </ion-item>

    <ion-card-content>
      <div>Забронирован на:</div>
      <ion-list>
        <ion-item>
          <ion-row *ngFor="let date of bookedItem.dates">

            <ion-col class="booked-item__date">
              <div>{{dataNativeStorageProvider.showDate(date)}}</div>
            </ion-col>

            <ion-col>
              <button ion-button color="danger" (click)="unBook(bookedItem.id, date)">Отменить</button>
            </ion-col>

          </ion-row>
        </ion-item>
      </ion-list>
    </ion-card-content>

  </ion-card>
</ion-content>
