page-contact-info {
  %schedule-main-styles {
    font-style: italic;
    font-weight: bold;
  }

  .schedule__status_opened {
    @extend %schedule-main-styles;
    color: color($colors, primary);
  }

  .schedule__status_closed {
    @extend %schedule-main-styles;
    color: color($colors, danger);
  }

  .schedule__button {
    width: 28px;
    height: 28px;
    border-radius: 50%;
  }

  .schedule__full-schedule {
    display: flex;
    flex-direction: column;
  }

  .schedule__full-schedule div:nth-child(1) {
    order: 7;
  }

  @for $i from 2 through 7 {
    .schedule__full-schedule div:nth-child(#{$i}) {
      order: $i - 1;
    }
  }
}

